.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    backdrop-filter: blur(30px); /* Adjust the blur intensity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Make sure it appears above other content */
}

.modal-content {
    background-color: rgba(28, 28, 28, 0.9); /* Slightly transparent background for the modal */
    color: #f1f1f1;
    padding: 30px;
    border-radius: 8px;
    width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:600px) {
    .modal-content {
        width: 400px;
    }
    
}


.modal-content h2 {
    margin-bottom: 15px;
    text-align: center;
}

.modal-content p {
    margin-bottom: 10px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #f1f1f1;
}

.modal-content textarea {
    height: 80px; 
}

.modal-content button[type="submit"]  {
    width: 48%;
    padding: 10px;
    margin: 5px 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.modal-content button[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: white;
}
.button-close {
    background-color: transparent;
    font-size: large;
    color: red;
    border: none;
    cursor: pointer;
    position: relative;
}

.button-close:hover~.disapper_modal {
opacity: 0;
transition: 1s ease-in-out;
}


 

.modal-content .note {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}
.success-alert {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}
