
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1c1c1e;
}

.login-box {
  background-color: #2b2b2e;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-box h2 {
  color: #fff;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: #3a3a3d;
  color: #fff;
  font-size: 14px;
}

.login-box input:focus {
  outline: 2px solid #555;
}

.login-box button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background-color: #4b4bff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #3333ff;
}

.google-login {
  position: relative;
  background-color: #db4437;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  cursor: not-allowed;
  margin: 10px 0;
}

.google-login img {
  width: 20px;
  margin-right: 10px;
}
.google-prob {
  display: none;
  padding: 8px;
  background-color: #4b4bff;
  color: white;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 12px;
  position: absolute;
  z-index: 10;
}
.google-login:hover .google-prob {
  display: block;
}

.login-links {
  margin: 15px 0;
}


.login-links a {
  display: block;
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-links a:hover {
  color: #fff;
}

.error-message {
  background-color: #db4437;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
  padding-right: 60px; /* Adjust for the toggle button */
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
  font-size: 14px;
  user-select: none; /* Prevent text selection on click */
  transition: color 0.3s;
}

 